:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
    --charizard1: #fac;
    --charizard2: #ddccaa;
    // --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);
    // --charizardfront: url(https://media.licdn.com/dms/image/C5603AQG73EtYwwfl0A/profile-displayphoto-shrink_800_800/0/1634060693116?e=1678320000&v=beta&t=sruaFRY9D8qUiFnslHjBQE18BGavKReutYDTaM5z97o);
  
    --pika1: #54a29e;
    --pika2: #a79d66;
    --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);
    // --pikafront: url(https://media.licdn.com/dms/image/C5603AQG73EtYwwfl0A/profile-displayphoto-shrink_800_800/0/1634060693116?e=1678320000&v=beta&t=sruaFRY9D8qUiFnslHjBQE18BGavKReutYDTaM5z97o);
  
    --eevee1: #efb2fb;
    --eevee2: #acc6f8;
    --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp);
    --eeveefront: url(https://media.licdn.com/dms/image/C5603AQG73EtYwwfl0A/profile-displayphoto-shrink_800_800/0/1634060693116?e=1678320000&v=beta&t=sruaFRY9D8qUiFnslHjBQE18BGavKReutYDTaM5z97o);
    --mewtwo1: #efb2fb;
    --mewtwo2: #acc6f8;
    --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp);
    --mewtwofront: url(https://media.licdn.com/dms/image/C5603AQG73EtYwwfl0A/profile-displayphoto-shrink_800_800/0/1634060693116?e=1678320000&v=beta&t=sruaFRY9D8qUiFnslHjBQE18BGavKReutYDTaM5z97o);
  
  }
  
  
  
  .pknmcard {
    height: 400px;
    width: 320px;
    /* @media screen and (min-width: 600px) {
      // width: 61vh;
      // height: 85vh;
      // max-width: 500px;
      // max-height: 700px;
      height: clamp(22vw, 105vh, 30.2vw);
      width: clamp(22vw, 105vh, 30.2vw);
    } */
    
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
    
    border-radius: 5% / 3.5%;
    box-shadow: 
      -5px -5px 5px -5px var(--color1), 
      5px 5px 5px -5px var(--color2), 
      -7px -7px 10px -5px transparent, 
      7px 7px 10px -5px transparent, 
      0 0 5px 0px rgba(255,255,255,0),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
    
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    
    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
    
  }
  
  .pknmcard:hover {
    box-shadow: 
      -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2), 
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  
  .pknmcard.charizard {
    --color1: var(--charizard1);
    --color2: var(--charizard2);
    --front: var(--charizardfront);
  }
  .pknmcard.pika {
    --color1: var(--pika1);
    --color2: var(--pika2);
    --front: var(--pikafront);
  }
  .pknmcard.mewtwo {
    --color1: var(--mewtwo1);
    --color2: var(--mewtwo2);
    --front: var(--mewtwofront);
  }
  .pknmcard.eevee {
    --color1: #ec9bb6;
    --color2: #ccac6f;
    --color3: #69e4a5;
    --color4: #8ec5d6;
    --color5: #b98cce;
    --front: var(--eeveefront);
  }
  
  .pknmcard:before,
  .pknmcard:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
  }
  
  .pknmcard:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      var(--color1) 25%,
      transparent 47%,
      transparent 53%,
      var(--color2) 75%,
      transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
  }
  
  .pknmcard:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
      url(https://assets.codepen.io/13471/holo.png), 
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
  }
  
  .pknmcard.active:after,
  .pknmcard:hover:after {
    filter: brightness(1) contrast(1);;
    opacity: 1;
  }
  
  .pknmcard.active,
  .pknmcard:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  
  .pknmcard.active:before,
  .pknmcard:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
  }
  
  .pknmcard.active:before,
  .pknmcard:hover:before,
  .pknmcard.active:after,
  .pknmcard:hover:after {
    animation: none;
    transition: none;
  }
  
  .pknmcard.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before { 
      transition: none;
      animation: holoGradient 12s ease 0s 1;
    }
    &:after {
      transition: none;
      animation: holoSparkle 12s ease 0s 1;
    }
  }
  
  
  
  
  @keyframes holoSparkle {
    0%, 100% {
      opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
    }
    5%, 8% {
      opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
    }
    13%, 16% {
      opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
    }
    35%, 38% {
      opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
    }
    55% {
      opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
    }
  }
  
  @keyframes holoGradient {
    0%, 100% {
      opacity: 0.5;
      background-position: 50% 50%;
      filter: brightness(.5) contrast(1);
    }
    5%, 9% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
    13%, 17% {
      background-position: 0% 0%;
      opacity: .88;
    }
    35%, 39% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.5) contrast(1);
    }
    55% {
      background-position: 0% 0%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
  }
  
  @keyframes holoCard {
    0%, 100% {
      transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%, 8% {
      transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%, 16% {
      transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%, 38% {
      transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
      transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
  }
  
  
  
  .pknmcard.eevee:hover {
    box-shadow: 
      0 0 30px -5px white,
      0 0 10px -2px white,
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  .pknmcard.eevee:hover:before,
  .pknmcard.eevee.active:before {
    background-image: linear-gradient(
      115deg,
      transparent 20%,
      var(--color1) 36%,
      var(--color2) 43%,
      var(--color3) 50%,
      var(--color4) 57%,
      var(--color5) 64%,
      transparent 80%
    );
  }
  
  // html, body {
  //   height: 100%;
  //   background-color: #333844;
  //   padding: 0;
  //   z-index: 1;
  //   transform: translate3d(0,0,0.1px);
  // }
  // body {
  //   color: white;
  //   background-color: #333844;
  //   font-family: "Heebo", sans-serif;
  //   text-align: center;
  // }
  // h1 {
  //   display: block;
  //   margin: 30px 0;
  // }
  // p {
  //   margin-top: 5px;
  //   font-weight: 200;
  // }
  // #app {
  //   position: relative;
  // }
  
  .row {
    margin: auto;
    // width: 100%;
    // align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    // background-color: blue;
  }
  
  
  
  .cards { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px )
  }
  
  
  @media screen and (min-width: 600px) {
    .cards {
      flex-direction: row;
    }
  }
  
  
  .cards .pknmcard {
    &:nth-child(2) {
      &, &:before, &:after {
        animation-delay: 0.25s;
      }
    }
    &:nth-child(3) {
      &, &:before, &:after {
        animation-delay: 0.5s;
      }
    }
    &:nth-child(4) {
      &, &:before, &:after {
        animation-delay: 0.75s;
      }
    }
  }
  
  
  // p {
  //   font-weight: 400;
  //   font-size: 18px;
  //   padding: 1em;
  //   background: rgba(0,0,0,0.3);
  //   margin-top: 0;
  // }
  
  // p.bottom {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   margin-bottom: 0;
  // }
  // p a {
  //   color: cyan;
  // }
  
  // html,body,main {
  //   min-height: 100%;
  // }
  
  a:hover.no-decoration {
    text-decoration: none;
  }
  
  .project__grid {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1.5fr 2.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img__project__grid"
      "title__project__grid"
      "description__project__grid";
    height: 100%;
    width: 100%;
  }
  
  .img__project__grid { 
    grid-area: img__project__grid; 
  }
  
  .title__project__grid { 
    grid-area: title__project__grid; 
    background-color: rgb(148, 156, 255);
  
  }
  
  .description__project__grid { 
    grid-area: description__project__grid; 
    background-color: rgb(148, 156, 255);
  
  }
  
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  h3.centered, p.centered {
    color: black;
    background: none;
  }

  p.centered {
    padding: 0 10px;
  }